<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @reservation.first %>
</p>

<p>
  <b>Last:</b>
  <%= @reservation.last %>
</p>

<p>
  <b>Event:</b>
  <%= @reservation.event_id %>
</p>

<p>
  <b>Seats:</b>
  <%= @reservation.seats %>
</p>

<p>
  <b>Email:</b>
  <%= @reservation.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @reservation.phone %>
</p>

<p>
  <b>Tour:</b>
  <%= @reservation.tour %>
</p>

<p>
  <b>Newsletter:</b>
  <%= @reservation.newsletter %>
</p>

<p>
  <b>Handicapped:</b>
  <%= @reservation.handicapped %>
</p>

<p>
  <b>Comment:</b>
  <%= @reservation.comment %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
